#topo{width: 1100px; height: 90px; float: left;}
#logo{margin: 15px 20px 20px 20px; float: left;}
#menu{float: left; margin: 30px 0px 0px 40px; font-size: 15px; font-weight: bold;}
#menu ul{display: block; list-style: none; padding: 0px; font-size: 13px;}
#menu ul li{float: left; width: 90px; height: 100px; text-align: center; padding-top: 15px;}
#menu ul li a{color: black;}
#menu ul li a:hover{text-decoration: none; color: #FFF; }
#menu ul li:hover{background-color: brown;
 color: #FFF;
 font-size: 12px;
-moz-border-radius: 10px; /* Para Firefox */
-webkit-border-radius: 10px; /*Para Safari e Chrome */
border-radius: 10px; /* Para Opera 10.5+*/
}

#rodape{width: 100%; height: 40px; background-color: #333333;
float: left; padding: 10px; text-align: center; color: #fff;
font-size: 11px;}
#rodape a{color: #FFF;}
#redesSociais{float: right;}

#filiais{width: 1000px; float: left; margin: 130px 0px 0px 20px; }
#item{width: 320px; float: left; font-size: 12px; color: #cccc;}
#item span{color: brown; font-size: 13px; font-weight: bold; text-transform: uppercase;}
#item sub{font-size: 9px; color: #cccc;}

#corpo{width: 1000px; height:500px; background-color: #FFF; margin: 0 auto;}
#banner{width: 980px; height: 250px;  float: left; margin: 0px 0px 0px 10px;}
#txt{width: 100%; height: auto; float: left; padding: 20px; background-color: #FFF;}
#txt h1{font-size: 22px; color: brown;}
#txt hr{border: 1px #CCC solid;
-moz-border-radius: 10px; /* Para Firefox */
-webkit-border-radius: 10px; /*Para Safari e Chrome */
border-radius: 10px; /* Para Opera 10.5+*/
}
#migalhas{ float: right; font-size: 11px;}
#separador{width: 100%; height: 30px; float: left;}
#moto{width: 150px; height:150px; float: left; margin: 5px;}
#moto span{margin-left: 10px; color: brown; }
#moto a:hover{color: #ccc; text-decoration: none;}


/* ---------------------------------------------------------------------- */
/*	Reset & Clearfix (http://meyerweb.com/eric/tools/css/reset/)
/* ---------------------------------------------------------------------- */
body{margin: 0px;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,and,address,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea,select{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}del{text-decoration:line-through}hr{background:transparent;border:0;clear:both;color:transparent;height:1px;margin:0;padding:0}mark{background-color:#ffffb3;font-style:italic}input,select{vertical-align:middle}ins{background-color:red;color:white;text-decoration:none}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
.clear{clear:both;display:block;height:0;overflow:hidden;visibility:hidden;width:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;height:0;line-height:0;visibility:hidden;width:0;text-align: center;}* html .clearfix,:first-child+html .clearfix{zoom:1}

/* Some basic settings */
h1, h1 .button { font-size: 32px; }
h2, h2 .button { font-size: 28px; }
h3, h3 .button { font-size: 17px; }
h4, h4 .button { font-size: 15px; }
h5, h5 .button { font-size: 14px; }
h6, h6 .button { font-size: 12px; }
small { font-size: 10px; }
ol { list-style: decimal; }
ul { list-style: disc; }
li { margin-left: 30px; }
img { margin-bottom: 5px; }
dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,blockquote,article,p { margin-bottom: 20px; }

/* ---------------------------------------------------------------------- */
/*	Basic Elements & Classes
/* ---------------------------------------------------------------------- */

#slideshow{width: 1000px; height: 300px; float: left; background-color: red;}

body {
	background-image: url(../img/fundo.gif);
	border-top: 6px solid #3a3a3a;
	color: #909090;
	font: 11px/1.7 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

